<% if @recipes.present? %>
<% @recipes.each do |r| %>
  <b><%= link_to r.name, recipe_path(@recipes) %></b>
  <li><%= r.description %></li>
  <% end %> 
<% else %>
  Sorry, we can´t find a recipe with the listed ingredients. 
<% end %>

<p><%= link_to "Go back to the home page", root_path %></p>
