<div class="d-flex flex-wrap justify-content-around">
  <% if @recipes.present? %>
    <% @recipes.each do |r| %>
      <div class="recipe-card">
        <b><%= link_to r.name, recipe_path(r, ingredients: params[:ingredients]) %></b>
        <li><%= r.description %></li>
        <% if user_signed_in? %>
          <% if policy(SavedRecipe.new(recipe_id: r.id)).create? %>
            <%= link_to "Save this recipe", saved_recipes_path(saved_recipe: {recipe_id: r.id}), method: :post, class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    Sorry, we can't find a recipe with the listed ingredients.
  <% end %>
</div>

<p><%= link_to "Go back to the home page", root_path %></p>