<div class="container">
  <div class="welcome-header">
    <h2>Welcome <b><%= current_user.first_name %>!</b></h2>
  </div>
  <div class="avatar-large">
    <h2>Avatar here</h2>
  </div>

  <h2><em><%= link_to "Edit profile", edit_user_registration_path %></em></h2>

  <div class="saved_recipes">
    <h2>Your saved recipes: </h2>
  </div>

  <p><%= link_to "Go back to the home page", root_path %></p>

</div>
