  <div class="banner" style="background-image: url('https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2428&q=80')">
    <div class="banner-title">
      <h1>Let's cook now!</h1>
       <h2>What's in your fridge?</h2>
      <div class="banner-search">
        <%= form_tag recipes_path, method: :get do |f| %>
          <select class="js-example-theme-multiple" name="ingredients[]" multiple="multiple" style="width: 70%" >
          <% @ingredients.each do |i| %>
            <option value=<%=i.id%>><%= i.name %></option>
          <% end %>
          </select>
          <%= submit_tag "Search recipes", class: "btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>



<p><em><%#= link_to "Profile", users_path %></em></p>
<%#= link_to "Log out", destroy_user_session_path, method: :delete %>
