<h1>Create your fridge!</h1>

<p>List each fridge ingredients</p>

<%= form_tag recipes_path, method: :get do |f| %>
  <select class="js-example-basic-multiple" name="ingredients[]" multiple="multiple" style="width: 50%" >
    <% @ingredients.each do |i| %>
      <option value=<%=i.id%>><%= i.name %></option>
    <% end %>
  </select>
  <%= submit_tag "Search recipes", class: "btn btn-info" %>
<% end %>

<br><br>
