.banner {
  background-size: cover;
  background-position: center;
  height: 500px;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  h1 {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
  }

  h2 {
    font-size: 40px;
    font-style: italic;
    text-shadow: 2px 2px #000000;
  }

  .banner-search {
    font-size: 20px;
  }
}
