// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "muuri";
@import "icon";
@import "recipeshow";
@import "user";
@import "select2";
@import "recipeindex";
@import "footer";
@import "button";

a {
  color: $red;
}

a:hover{
  text-decoration: none;
  color: $orange;
}

