.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color:rgb(255, 61, 61);
}

/* .nav-item {
  color:rgb(255, 61, 61);
} */
.fas .fa-utensils {
  color:rgb(255, 61, 61);
}