body {
  min-height: 100vh;
}

.item-content {
  width: 402px;
  border: 1px solid grey;
  background-color: white;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  margin: 15px 15px;
}

.item-content-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.item-content-card:hover {
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2);
}

.item-content-image {
  text-align: center;
  background-size: cover;
  background-position: center;
}

.item-content-bottom {
  display: flex;
  justify-content: space-between;
}

.item-content-details {
  padding-left: 20px;
  padding-top: 5px;
  color: black;
}

.recipe-index-search {
  display: flex;
}

.recipe-index-search-form {
  flex-grow: 1;
}

.recipe-index-found {
  margin-top: 15px;
  margin-left: 15px;
  font-weight: bold;
  color: $red;
}

.recipe-item-container {
  display: flex;
  flex-wrap: wrap;
}
