.item-content {
  width: 402px;
  border: 1px solid grey;
  background-color: white;
  margin: 2px;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.item-content-image {
  text-align: center;
  background-size: cover;
  background-position: center;
}

.item-content-bottom {
  display: flex;
  justify-content: space-between;
}

.item-content-details {
  padding-left: 25px;
  padding-top: 5px;
}

.recipe-index-search {
  display: flex;
}

.recipe-index-search-form {
  flex-grow: 1;
}
