.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #D63447;
  border: 1px solid #FFD369;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #FFD369;
}
